<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857710180788-o7l0u4rqpebln1nc166vdhlu7i6ggh2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857710180788-o7l0u4rqpebln1nc166vdhlu7i6ggh2r</string>
	<key>API_KEY</key>
	<string>AIzaSyC3kygClYqgyLz_n0HR_akBTH4e4eK07oY</string>
	<key>GCM_SENDER_ID</key>
	<string>857710180788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gohar.Weather.Weather</string>
	<key>PROJECT_ID</key>
	<string>weather-d760b</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-d760b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857710180788:ios:82b70826ad4e188cc15ae1</string>
</dict>
</plist>